rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {  // this should be this string literally, no need to put in the bucket name
    match /{userId}/{allPaths=**}{
      allow read: if request.auth.uid == userId 
      						|| auth.token.admin == true;
      allow write: if request.resource.metadata.userId == userId
      						|| auth.token.admin == true;
    }
  }
}
