@import "siimple/index.scss";
@import "siimple/scss/_variables.scss";
@import "siimple/scss/_functions.scss";

.dropzone {
  width : 50%;
  height : 150px;
  border : 2px dashed #b4b4b4;
  background-color: #f9f9f9;
  margin-right: auto;
  margin-left : auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  width : 50%;
  margin-right: auto;
  margin-left : auto;
}

button { 
  border-color: #696 #363 #363 #696; 
  margin: 3px;
}

li {
  list-style: none;
  padding: 0px 0px 0px 10px;
}

span {
  font-weight:bold;
  font-size: 16px; 
}

main {
  display: flex;
  align-items: center;
  width : 80%;
  margin-right: auto;
  margin-left : auto;
}

img {
  display: flex;
  margin: 10px 20px 10px 15px;
}

// react-confirm-alert
// https://github.com/GA-MO/react-confirm-alert/blob/master/src/react-confirm-alert.css
body.react-confirm-alert-body-element {
  overflow: hidden;
}

.react-confirm-alert-blur {
  filter: url(#gaussian-blur);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
  font-family: Verdana, Arial, sans-serif;
  width: 400px;
  padding: 30px;
  text-align: center;
  background: #fff;
  //border: solid;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}

.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.react-confirm-alert-body > h1 {
  margin-top: 0;
  font-size: 20px;
}

.react-confirm-alert-body > h3 {
  margin: 0;
}

.react-confirm-alert-button-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
}

.react-confirm-alert-button-group > button {
  outline: none;
  background-color: siimple-default-color("primary");
  border: none;
  display: inline-block;
  padding: 10px 18px;
  color: #eee;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
